<div id="footerwrap">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-12" style="color:#fff;">
				<div>
					© 2014 AppFlush, Co.
				</div>
				<p>
					<a href="/Terms">Terms</a> | <a href="/Privacy">Privacy</a>
				</p>
			</div>
			<div class="col-md-4 col-sm-12" style="color:#fff;">
				<div>
					Supported
					<ul>
						<li>2013 GSBC 청년프론티어</li>
						<li>2014 Npac Ncloud Hosting</li>
					</ul>
				</div>
				<div>
					Attribution
					<ul>
						<li><a href="/OpenSource">OpenSource License</a></li>
					</ul>
				</div>
			</div>
		</div><! --/row -->
	</div><! --/container -->
</div><! --/footerwrap -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43757640-1', 'auto');
  ga('send', 'pageview');

</script>