<div id="footerwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-xs-8" style="color:#fff;">
				<div>
					© 2014 AppFlush, Co.
				</div>
				<p>
					<a href="/Terms">Terms</a> | <a href="/Privacy">Privacy</a>
				</p>
			</div>
			<div class="col-lg-4 col-xs-4" style="color:#fff;">
				<div>
					Supported
					<ul>
						<li>2013 GSBC 청년프론티어</li>
						<li>2014 Npac Ncloud Hosting</li>
					</ul>
				</div>
				<div>
					Attribution
					<ul>
						<li><a href="/OpenSource">OpenSource License</a></li>
					</ul>
				</div>
			</div>
		</div><! --/row -->
	</div><! --/container -->
</div><! --/footerwrap -->